@media (min-width: 1920px) {
    body {
        margin: 0 22%;
        position: relative;
        padding: 0px;
        transform: scale(0.7, 0.7);
    }
}

@media (max-width: 1800px) {
    body {
        margin: 0 -10%;
        position: relative;
        padding: 0px;
    }
}